#page-header {
	position: relative;
	overflow: hidden;
	.logo {
		float: left;
		width: 224px;
		margin: 32px 0;
		@media @xs {
			float: none;
			margin: 30px auto;
		}
		a {
			img {
				display: block;
			}
		}
	}
}
#col-main {
	float: left;
	width: 680px;
	margin: 0 0 50px;
	@media @md {
		width: 620px;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
	}
}
#col-right {
	float: right;
	width: 380px;
	margin: 0 0 50px;
	@media @md {
		width: 260px;
	}
	@media @sm {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}
	@media @xs {
		float: none;
		width: auto;
	}
}
.menu_toggle {
	display: none;
	background: none;
	width: 100%;
	color: @c2;
	font-size: 0;
	height: 80px;
	line-height: 80px;
	margin: 0 0 20px;
	@media @xs {
		display: block;
	}
	&:hover{
		color: @c3;
		background: none;
	}
	&:before{
		.fi;
		content: '\f008';
		font-size: 70px;
	}
	.mod_menu-on & {
		&:before{
			content: '\e808';
		}
	}
}
.mod_search {
	.clearfix;
	margin: 26px 0 5px;
	float: left;
	width: 590px;
	text-align: right;
	@media @md {
		width: 380px;
	}
	@media @sm {
		width: 300px;
		padding-left: 20px;
		margin-left: -120px;
	}
	@media @xs {
		display: none;
		width: auto;
		margin: 0 0 20px;
		float: none;
		text-align: center;
		.mod_menu-on & {
			display: block;
		}
	}
	.toggle {
		color: @c1;
		float: right;
		background: none;
		padding: 0 3px;
		margin: 0 0 0 20px;
		font-size: 0;
		-webkit-transform: rotateY( 180deg );
		-moz-transform: rotateY( 180deg );
		transform: rotateY( 180deg );
		@media @xs {
			display: none;
		}
		&:before{
			.fi;
			content: '\f50d';
			font-size: 24px;
			.mod_search-on & {
				content: '\e808';
			}
		}
		&:hover{
			color: @c2;
		}
	}
	form {
		display: none;
		@media @xs {
			display: block;
		}
		.mod_search-on & {
			display: block;
		}
		[type="text"], [type="search"] {
			width: 200px;
			@media @sm {
				width: 180px;
			}
		}
		[type="submit"] {
			float: right;
			font-size: 0;
			padding: 0 12px;
			@media @xs {
				float: none;
				font-size: 16px;
			}
			&:before{
				.fi;
				font-weight: normal;
				content: '\f50d';
				font-size: 24px;
				@media @xs {
					font-size: 0;
				}
			}
		}
	}
}
.mod_menu-top {
	float: left;
	width: 590px;
	text-align: right;
	@media @md {
		clear: both;
		width: auto;
		float: none;
		margin: 0 0 20px;
	}
	@media @sm {
		clear: both;
		float: none;
		width: auto;
		text-align: center;
	}
	@media @xs {
		display: none;
		float: none;
		width: auto;
		text-align: left;
		margin: 0 0 20px;
		.mod_menu-on & {
			display: block;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			.fh;
			display: inline-block;
			vertical-align: top;
			font-size: 20px;
			margin: 0 0 0 24px;
			@media @xs {
				margin: -1px 0 0;
				display: block;
			}
			&:last-child {
				padding-right: 0;
				&:before{
					display: none;
				}
			}
			&:before{
				.fh;
				left: 100%;
				content: '/';
				font-size: 20px;
				color: @c2;
				top: 4px;
				font-weight: 600;
				margin: 0 0 0 8px;
				@media @xs {
					display: none;
				}
			}
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
				@media @xs {
					display: block;
					padding: 9px 19px;
					border: 1px solid @c2;
					&:hover{
						text-decoration: none;
						color: #fff;
						background: @c2;
					}
				}
			}
			&.act {
				a {
					text-decoration: underline;
					@media @xs {
						text-decoration: none;
						color: #fff;
						background: @c2;
					}
				}
			}
		}
	}
}
.mod_custom-request {
	position: relative;
	float: right;
	width: 238px;
	@media @xs {
		display: none;
		width: auto;
		margin: 0 0 20px;
		float: none;
		.mod_menu-on & {
			
		}
	}
	&:before{
		.border-radius(12px 0 0 0);
		content: '';
		position: absolute;
		z-index: 2;
		top: 0;
		right: -26px;
		width: 12px;
		height: 68px;
		background: @c3;
		-ms-transform: skewX(-14deg);
		-webkit-transform: skewX(-14deg);
		transform: skewX(-14deg);
		@media @xs {
			display: none;
		}
	}
	&:after{
		content: '';
		position: absolute;
		left: 100%;
		top: 0;
		bottom: 0;
		margin: 0 0 0 -10px;
		width: 9999em;
		background: @c3;
		@media @xs {
			display: none;
		}
	}
	a {
		.fh;
		.border-radius(12px 0 5px 0);
		.transition(0.2s);
		position: relative;
		z-index: 1;
		display: block;
		height: 68px;
		line-height: 44px;
		text-align: center;
		text-decoration: none;
		color: #fff;
		margin: 0 -7px 25px 0;
		padding: 24px 12px 0 0;
		font-size: 24px;
		font-weight: 600;
		background: @c2;
		text-transform: uppercase;
		@media @xs {
			.border-radius(0);
			text-align: left;
			padding: 10px 20px;
			line-height: 1;
			height: auto;
			margin: 0;
		}
		&:hover{
			&, &:before, &:after {
				background: lighten(@c2,10);
			}
		}
		&:before{
			.border-radius(12px 0 0 0);
			.transition(0.2s);
			position: absolute;
			content: '';
			left: -6px;
			right: -18px;
			top: 0;
			bottom: 0;
			background: @c2;
			-ms-transform: skewX(-14deg);
			-webkit-transform: skewX(-14deg);
			transform: skewX(-14deg);
			@media @xs {
				display: none;
			}
		}
		&:after{
			.transition(0.2s);
			content: '';
			position: absolute;
			top: 100%;
			left: -25px;
			right: 12px;
			height: 25px;
			background: @c2;
			-ms-transform: skewX(-14deg);
			-webkit-transform: skewX(-14deg);
			transform: skewX(-14deg);
			@media @xs {
				display: none;
			}
		}
		span {
			position: relative;
			z-index: 1;
			display: block;
		}
	}
}
.mod_menu-main {
	padding: 18px 0 0;
	margin: 0 -12px;
	@media @xs {
		display: none;
		margin: 0 0 20px;
		padding: 0;
		.mod_menu-on & {
			display: block;
		}
	}
	ul {
		.rul;
		display: table;
		width: 100%;
		@media @sm {
			display: block;
			text-align: center;
		}
		@media @xs {
			display: block;
		}
		li {
			.rli;
			.fh;
			font-size: 21px;
			line-height: 1.1;
			font-weight: 600;
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			text-transform: uppercase;
			padding: 0 10px;
			@media @md {
				font-size: 17px;
			}
			@media @sm {
				display: inline-block;
				margin: 0 0 15px;
			}
			@media @xs {
				display: block;
				text-align: left;
				margin: -1px 0 0;
				padding: 0;
			}
			a {
				display: block;
				padding: 0 0 47px;
				color: @c3;
				text-decoration: none;
				border-bottom: 8px solid transparent;
				@media @sm {
					padding-bottom: 10px;
					border-bottom-width: 4px;
				}
				@media @xs {
					padding: 9px 19px;
					border: 1px solid @c3;
					&:hover{
						color: #fff;
						background: @c3;
					}
				}
				&:hover{
					color: @c2;
				}
			}
			&.act {
				a {
					color: @c2;
					border-bottom-color: @c2;
					@media @xs {
						color: #fff;
						background: @c3;
					}
				}
			}
		}
	}
}
.mod_custom-slideshow {
	position: relative;
	overflow: hidden;
	@media @xs {
		background: @c3;
	}
	.items {
		.item {
			position: relative;
			overflow: hidden;
			display: none;
			width: 100%;
			&:nth-child(1) {
				display: block;
			}
			figure {
				text-align: center;
				img {
					margin: auto;
					display: block;
				}
			}
			.content {
				.fh;
				position: absolute;
				bottom: 28%;
				left: 50%;
				width: 570px;
				margin: 0 0 0 -560px;
				padding: 37px 55px 47px;
				font-size: 19px;
				line-height: 1.22;
				color: #fff;
				text-align: left;
				background: @c3;
				@media @md {
					font-size: 16px;
					bottom: 14%;
					margin: 0 0 0 -460px;
				}
				@media @sm {
					font-size: 14px;
					bottom: 14%;
					margin: 0 0 0 -350px;
					padding: 20px;
					width: 420px;
				}
				@media @xs {
					position: static;
					width: auto;
					margin: 0;
					padding: 35px 40px;
					font-size: 14px;
				}
				&:before, &:after{
					content: '';
					position: absolute;
					top: 0;
					right: 100%;
					bottom: 0;
					width: 999em;
					background: url(../images/bg/01.png);
				}
				&:after{
					right: -568px;
					width: 568px;
					background: url(../images/bg/02.png) repeat-y;
				}
				ul {
					.rul;
					display: inline-block;
					width: 72%;
					margin: 0 -5px 0 0;
					vertical-align: bottom;
					@media @xs {
						display: block;
						margin: 0;
						width: auto;
						text-align: center;
					}
					li {
						.rli;
						font-size: 45px;
						font-weight: 600;
						letter-spacing: -0.05em;
						line-height: 1;
						text-transform: uppercase;
						padding: 0 0 0 38px;
						@media @md {
							font-size: 28px;
						}
						@media @sm {
							font-size: 18px;
							padding-left: 20px;
						}
						@media @xs {
							display: inline-block;
							font-size: 18px;
							padding-left: 20px;
							margin: 0 5px 5px;
						}
						&:before{
							.fh;
							font-size: 45px;
							font-weight: 600;
							content: '/';
							top: 0;
							@media @md {
								font-size: 28px;
							}
							@media @sm, @xs {
								font-size: 18px;
							}
						}
						a {
							
						}
					}
				}
				p {
					display: inline-block;
					vertical-align: bottom;
					width: 28%;
					margin: 0;
					text-align: right;
					text-transform: uppercase;
					@media @xs {
						display: block;
						width: auto;
						text-align: center;
					}
				}
			}
		}
	}
	.pager {
		position: absolute;
		z-index: 101;
		bottom: 30px;
		left: 50%;
		width: @content-width/2-20;
		text-align: right;
		@media @md {
			bottom: 15px;
			width: @content-width-md/2-20;
		}
		@media @sm {
			bottom: 10px;
			width: @content-width-sm/2-20;
		}
		@media @xs {
			display: none;
		}
		span {
			.box-shadow(1px 1px 0 fade(#000,70));
			display: inline-block;
			width: 10px;
			height: 10px;
			margin: 0 0 0 8px;
			font-size: 0;
			background: fade(#fff,80);
			cursor: pointer;
			&:hover{
				background: #fff;
			}
			&.cycle-pager-active {
				background: @c2;
			}
		}
	}
	.prev, .next {
		position: absolute;
		z-index: 101;
		top: 50%;
		left: 20px;
		font-size: 42px;
		line-height: 1;
		margin: -21px 0 0 0;
		color: #fff;
		text-shadow: 0 0 6px #000;
		@media @xs {
			top: auto;
			bottom: 20px;
		}
		&:before{
			.fi;
			content: '\e80b';
		}
	}
	.next {
		left: auto;
		right: 20px;
		&:before{
			content: '\e80c';
		}
	}
}
.mod_custom-contact {
	position: relative;
	overflow: hidden;
	background: #ebebeb;
	padding: 55px 0 80px;
	@media @sm, @xs {
		padding: 40px 0 0;
	}
	address {
		position: relative;
		z-index: 2;
		float: left;
		width: 30%;
		font-size: 16px;
		line-height: 1.5;
		font-style: normal;
		padding: 0 20px 0 0;
		@media @sm, @xs {
			width: 60%;
		}
		@media @xxs {
			width: auto;
			float: none;
		}
		.title {
			.fh;
			font-size: 19px;
			line-height: 1.2;
			font-weight: 600;
			margin: 0 0 25px;
			color: @c3;
		}
		.address, .contact {
			position: relative;
			padding: 0 0 0 64px;
			margin: 0 0 20px;
			&:before{
				.fi;
				content: '\e809';
				position: absolute;
				left: 0;
				top: 2px;
				width: 43px;
				height: 43px;
				line-height: 43px;
				text-align: center;
				font-size: 22px;
				color: #ebebeb;
				background: #b8b8b8;
			}
			&:after{
				position: absolute;
				content: '';
				top: 31px;
				left: 0;
				height: 2px;
				width: 43px;
				background: #ebebeb;
			}
		}
		.contact {
			&:before{
				content: '\e80a';
			}
		}
	}
	figure {
		position: relative;
		z-index: 2;
		float: left;
		width: 25%;
		padding: 18px 0 0 7px;
		@media @sm, @xs {
			width: 40%;
			padding-bottom: 30px;
		}
		@media @xxs {
			width: 50%;
		}
	}
	.map {
		position: absolute;
		top: 0;
		left: 55%;
		right: 0;
		bottom: 0;
		@media @sm, @xs {
			position: relative;
			left: 0;
			padding: 0 0 33%;
			overflow: hidden;
			border-top: 2px solid #fff;
		}
		&:before{
			position: absolute;
			z-index: 1;
			content: '';
			top: 0;
			left: 0;
			bottom: 0;
			width: 500px;
			margin: 0 0 0 -358px;
			background: url(../images/bg/03.png);
			background-size: 100% 100%;
			@media @sm, @xs {
				display: none;
			}
		}
		iframe {
			position: absolute;
			top: -50%;
			left: -25%;
			border: 0;
			width: 150%;
			height: 200%;
		}
	}
}
#page-footer {
	padding: 30px 0;
	.copy {
		font-size: 13px;
		float: left;
		@media @xs {
			float: none;
			text-align: center;
		}
	}
	.xart {
		float: right;
		font-size: 10px;
		text-transform: uppercase;
		@media @xs {
			float: none;
			text-align: center;
		}
		a {
			text-decoration: none;
			color: @c1;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			width: 13px;
			margin: 0 0 0 10px;
			@media @xs {
				display: block;
				float: none;
				width: 20px;
				margin: 0 auto 5px;
			}
		}
	}
}
.mod_menu-footer {
	margin: 0 0 20px;
	@media @xs {
		text-align: center;
	}
	ul {
		.rul;
		li {
			.rli;
			.fh;
			display: inline-block;
			font-size: 13px;
			margin: 0 15px 0 0;
			text-transform: uppercase;
			@media @xs {
				margin: 0 10px;
			}
			a {
				color: @c1;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_custom-header {
	position: relative;
	height: 83px;
	overflow: hidden;
	margin: 0 0 20px;
	img {
		margin: -7% auto;
	}
}
.mod_breadcrumbs {
	ul {
		.rul;
		margin: 0 0 20px;
		li {
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			color: #aaa;
			margin: 0 5px 0 0;
			&:before{
				top: 1px;
			}
			a {
				color: #999;
			}
			&.home {
				padding-left: 0;
				&:before{
					display: none;
				}
				a {
					font-size: 0;
					text-decoration: none;
					&:before{
						.fi;
						content: '\e809';
						font-size: 20px;
					}
				}
			}
		}
	}
}
.mod_custom-thumbnails {
	ul {
		.rul;
		li {
			.rli;
			a {
				display: block;
				position: relative;
				&:hover{
					&:before{
						border-width: 20px;
					}
				}
				&:before{
					.border-radius(38px);
					.transition(0.1s);
					content: '';
					position: absolute;
					top: -8px;
					right: -8px;
					bottom: -8px;
					left: -8px;
					border: 0 solid fade(#fff,20);
				}
			}
			img {
				.border-radius(18px);
				display: block;
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(50%);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 45px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e80e';
			font-size: 32px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}